#section1{
    background-image: url("https://rukminim2.flixcart.com/image/850/1000/juk4gi80/poster/5/4/3/large-newposter8189-comics-batman-hd-wallpaper-background-poster-original-imaf5thtgkg3985z.jpeg?q=20&crop=false");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#featureslist{
    height: 250px;

}

#movieslist{
    height: 425px;
}


